</main>
<footer  class="mt-5">


  <div class="container">
    <div class="row">
      <div class="col text-center">
        <!-- Center align content -->
        <div class="footer-content">
          <div class="social-icons">
            <a href="https://www.facebook.com/home"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://twitter.com/i/flow/login?lang=en"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="https://www.linkedin.com/feed/"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="https://www.instagram.com/accounts/login/"><ion-icon name="logo-instagram"></ion-icon></a>
          </div>
          <div class="menu-items">
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
          </div>
        </div>
        <p class="copyright">© Copyright 2024</p>
      </div>
    </div>
  </div>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>
