.flower-head {
  height: 60px;
  width: 60px;
}

/* this isn't working */
.navbar-sticky {
  position: sticky;
  top: 10;
  z-index: 970;
}

.nav {
  height: 30px;
}

.nav-item {
  background-color: #ff8080;
  color: black;
}

.nav-link {
  color: black;
  font-weight: 500;
  font-size: large;
}

#navbar-content {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.row {
  border: thick solid black;
  background-color: rgb(255, 168, 221);
  color: rgb(0, 255, 255);
  justify-content: center;
}

.container {
  padding: 100px;
  background-color: blue;
}

.col-xl-2 {
  padding: 50px;
  margin: 10px;
  height: 400px;
  width: 300px;
  background-color: #f6fdc3;
  border: thin solid grey;
}

.card {
  max-width: 300px; /* check if this is ok */
}

/* media query 
  @media (min-width: 319px) and (max-width: 480px) {
    .row{
  
    }
  }
  */
