<%- include("partials/header.ejs") %>

    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold text-body-emphasis">Text goes here</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Enjoy pokemon?! Well this is the place for you! Choose from our two
          different plans below:
        </p>
      </div>
     PUT STUFF HERE


     
    </main>

    
    <%- include("partials/footer.ejs") %>

