<%- include("partials/header.ejs") %>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Blog posts</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      This feature hasn't been added yet! We are working on it.
    </p>
  </div>
</div>
<%- include("partials/footer.ejs") %>
