<%- include("partials/header.ejs") %>

<main>
  <div class="container mt-5">
    <div class="col-md-6">
      <div id="inputContainer">
        <form
          id="createCollectionForm"
          action="/createcollection"
          method="POST"
        >
          <br />
          <br />
          <br />
          <br />
          <h2 class="mb-4">Create a New Collection</h2>
          <div class="mb-3">
            <label for="collectionName" class="form-label"
              >Collection Name:</label
            >
            <input
              id="collectionName"
              name="collectionName"
              type="text"
              class="form-control"
              placeholder="Enter collection name"
              maxlength="30"
            />

            <small class="form-text text-muted">
              <!-- Display character count -->
              <span id="collectionNameCount">0</span>/30 characters
            </small>
          </div>
          <div class="mb-3">
            <label for="collectionDescription" class="form-label"
              >Collection Description:</label
            >
            <textarea
              id="collectionDescription"
              name="collectionDescription"
              class="form-control"
              rows="4"
              placeholder="Enter collection description (max 300 characters)"
              maxlength="300"
            ></textarea>
            <small class="form-text text-muted">
              <!-- Display character count -->
              <span id="collectionDescriptionCount">0</span>/300 characters
            </small>
          </div>
          <button
            type="submit"
            name="createCollectionButton"
            class="btn btn-primary"
          >
            CREATE
          </button>
        </form>
        <br />
        <a href="/views/usercollection" class="btn btn-secondary"> Back </a>
      </div>
    </div>
  </div>
</main>
<%- include("partials/footer.ejs") %>

<script>
  // 1) doing collectionName
  const collectionNameInput = document.getElementById("collectionName");

  // character count:
  const collectionNameCountSpan = document.getElementById(
    "collectionNameCount"
  );

  // 2) donig collectionDescription
  const collectionDescriptionInput = document.getElementById(
    "collectionDescription"
  );
  // character count:
  const collectionDescriptionCountSpan = document.getElementById(
    "collectionDescriptionCount"
  );

  // 1) Add event listener
  collectionNameInput.addEventListener("input", function () {
    // Get the current length of the input value
    const currentLength1 = collectionNameInput.value.length;
    // Update the character count display
    collectionNameCountSpan.textContent = currentLength1;
  });

  // 2) Add event listener
  collectionDescriptionInput.addEventListener("input", function () {
    // Get the current length of the input value
    const currentLength2 = collectionDescriptionInput.value.length;
    // Update the character count display
    collectionDescriptionCountSpan.textContent = currentLength2;
  });
</script>
