<%- include("partials/header.ejs") %>

<main>
<div class="container mt-5">
  
    <div class="col-md-6">
      <div id="inputContainer">
        <form id="loginForm" action="/views/login" method="POST">
          <br />
          <br />
          <h2 class="mb-4">Sign in to your account:</h2>
          <div class="mb-3">


            <label for="loginEmail" class="form-label">Email:</label>
            <input
              id="loginEmail"
              name="loginEmail"
              type="text"
              class="form-control"
              placeholder="e.g. ash@email.com"
              required
            />
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Password:</label>
            <input
              id="loginPassword"
              name="loginPassword"
              type="password"
              class="form-control"
              required
            />
          </div>
          <button type="submit" name="loginButton" class="btn btn-primary">
            LOG IN
          </button>
        </form>
      </div>
    </div>
    

</main>

    
<%- include("partials/footer.ejs") %>