<%- include("partials/header.ejs") %>

<div class="container mt-5">
  <div class="row justify-content-center">
   
    <div class="col-md-6">
      <div id="inputContainer">
        <form id="registerForm" action="/newmember" method="POST">
          <br />
          <br />
          <h2 class="mb-4">Sign up for free!</h2>
          <div class="mb-3">
            <label for="registerFirstName" class="form-label"
              >First name:</label
            >
            <input
              id="registerFirstName"
              name="registerFirstName"
              type="text"
              class="form-control"
              placeholder="e.g. Ash"
              required
            />
          </div>
          <div class="mb-3">
            <label for="registerLastName" class="form-label">Last name:</label>
            <input
              id="registerLastName"
              name="registerLastName"
              type="text"
              class="form-control"
              placeholder="e.g. Ketchum"
              required
            />
          </div>
          <div class="mb-3">
            <label for="registerEmail" class="form-label">Email:</label>
            <input
              id="registerEmail"
              name="registerEmail"
              type="email"
              class="form-control"
              placeholder="e.g. ashketchum@email.com"
              required
            />
          </div>
          <div class="mb-3">
            <label for="registerEmail2" class="form-label"
              >Confirm Email:</label
            >
            <input
              id="registerEmail2"
              name="registerEmail2"
              type="email"
              class="form-control"
              placeholder="e.g. ashketchum@email.com"
              required
            />
          </div>
          <div class="mb-3">
            <label for="registerPassword" class="form-label">Password:</label>
            <input
              id="registerPassword"
              name="registerPassword"
              type="password"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="registerPassword2" class="form-label"
              >Confirm Password:</label
            >
            <input
              id="registerPassword2"
              name="registerPassword2"
              type="password"
              class="form-control"
              required
            />
          </div>
          <button type="submit" name="registerButton" class="btn btn-primary">
            SIGN UP
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

</main>

    
<%- include("partials/footer.ejs") %>