<%- include("partials/header.ejs") %>
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Join our community!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      hello Enjoy pokemon?! Well this is the place for you! Choose from our two
      different plans below:
    </p>
  </div>
  <div class="overflow-hidden" style="max-height: 50vh">
    <div class="container px-5">
      <img
        src="/public/images/signup.jpeg"
        class="img-fluid border rounded-3 shadow-lg mb-4"
        alt="image of pokemon logo with a green field and blue sky"
        width="700"
        height="300"
        loading="joinus"
      />
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free Style</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          £0 <small class="text-muted">/ mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Browse cards</li>
          <li>Monthly emails</li>

          <li>Chat to other users</li>
        </ul>

        <a href="newmember.ejs" class="btn btn-lg btn-block btn-outline-primary"
          >Sign up for free</a
        >

        <!-- <button
              type="button"
              class="btn btn-lg btn-block btn-outline-primary"
            >
              Sign up for free
            </button> -->
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Membership</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          £6.99 <small class="text-muted">/ mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Trade cards</li>
          <li></li>
          <li>Share blogs</li>
          <li>Monthly emails</li>
          <li>Early bird tickets</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          Join today
        </button>
      </div>
    </div>

  </main>

    
  <%- include("partials/footer.ejs") %>
  